
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
    
</head>
<body>
    <div> 
        <a href="/Admin/Login">Login</a>
    </div>
</body>
</html>
