
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@section category{
    chính sách bảo mật
}

<div class="privacy">
    <div class="privacy1">
        <h3>Chính sách bảo mật</h3>
        <div class="banner-bottom-grid1 privacy1-grid">
            <ul>
                <li><i class="glyphicon glyphicon-user" aria-hidden="true"></i></li>
                <li>
                    Thông tin các nhân <span>
                        Cam kết bảo mật 100% thông tin khách hàng
                    </span>
                </li>
            </ul>
            <ul>
                <li><i class="glyphicon glyphicon-search" aria-hidden="true"></i></li>
                <li>
                    Đổi trả<span>
                        Đổi trả sản phẩm bị lỗi trong quá trình vận chuyển
                    </span>
                </li>
            </ul>
            <ul>
                <li><i class="glyphicon glyphicon-paste" aria-hidden="true"></i></li>
                <li>
                    Giao hàng <span>
                        Giao hàng miễn phí đối với đơn hàng từ 90.000đ ở hà nội và đơn hàng 180.000đ và các tỉnh trên cả nước
                    </span>
                </li>
            </ul>
            <ul>
                <li><i class="glyphicon glyphicon-qrcode" aria-hidden="true"></i></li>
                <li>
                    Đặt hàng <span>
                        Khách hàng có thể đặt và hủy đơn hàng trong thời gian cho phép    
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="privacy1">
        <h3>Quyền hạn của người sử dụng</h3>
        <div class="banner-bottom-grid1 privacy2-grid">
            <div class="privacy2-grid1">
                 <div class="privacy2-grid1-sub">
                    <h5>1. tôi có thể tới tận nơi xem sản phẩm không?</h5>
                    <p>
                        Có. Mặc dù sản phẩm ở nhà sách và trên onlinebookshop.com là giống nhau về hình thức và giá cả, tuy nhiên quý khách  có thể tới bất kỳ nhà sách Phương Nam nào để xem, tham khảo & đặt mua trực tiếp.
                    </p>
                </div>
                <div class="privacy2-grid1-sub">
                    <h5>2. trường hợp sản phẩm của tôi hết hàng thì sao?</h5>
                    <p>
                        Có những sản phẩm đã hết hàng hoặc không còn bán trên onlinebookshop.com. Quý khách có thể: Chọn một sản phẩm khác tương tự trong cùng trang giới thiệu sản phẩm hoặc Chat với Hỗ trợ viên để tìm sản phẩm thay thế khác.
                    </p>
                </div>
                <div class="privacy2-grid1-sub">
                    <h5>3. tôi có thể hủy đơn hàng được không?</h5>
                    <p>
                        Quý khách chỉ có thể hủy đơn hàng khi đơn hàng chưa được chuyển tới bộ phận vận chuyển (thông thường trong vòng 6 tiếng kể từ lúc đặt hàng).
                    </p>
                </div>
                <div class="privacy2-grid1-sub">
                    <h5>4. tôi ủy thác cho người khác nhận hàng và thanh toán giùm được không?</h5>
                    <p>
                        Được. Quý khách có thể ủy thác cho người khác nhận hàng và thanh toán giùm mình. Trong trường hợp này, người được ủy thác phải ký xác nhận.
                    </p>
                </div>
                <div class="privacy2-grid1-sub">
                    <h5>5. tôi có thể đổi hoặc trả hàng đã mua không?</h5>
                    <p>
                        Quý khách vui lòng kiểm tra kỹ hàng hóa trước khi ký xác nhận với nhân viên giao hàng. Trường hợp, sản phẩm bị hư hỏng, không sử dụng được (lỗi do phía công ty) thì chúng tôi sẵn lòng đổi sản phẩm khác theo yêu cầu của khách hàng trong vòng 7 ngày kể từ lúc nhận hàng. Để yêu cầu đổi sản phẩm khác, vui lòng gửi yêu cầu trong trang Quản lý đơn hàng hoặc liên hệ với bộ phận hỗ trợ khách hàng của chúng tôi.

                        Để thực hiện đổi hàng, quý khách vui lòng gửi hàng về văn phòng công ty, sau khi nhận được hàng quý khách gửi về, chúng tôi sẽ thực hiện gửi hàng thay thế cho quý khách. Quý khách sẽ không phải chịu chi phí nào khác (ngoài chi phí gửi hàng ngược về công ty)

                        Chúng tôi sẽ không thực hiện đổi hàng cho quý khách trường hợp sản phẩm bị hư hỏng bởi lỗi của quý khách.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>