
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="privacy about">
    <h3>Về Chúng Tôi</h3>
    <br />
    <div class="animi" style="font-size: 16px;">
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;Chính thức ra mắt từ tháng 02/2017, website thương mại điện tử onlinebookshop.com cung cấp các sản phẩm thuộc 4 ngành hàng: Sách Tiếng Việt; Sách Tiếng Anh; Sách Điện Tử (eBook) & DVD/CD.
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;Mục tiêu mà onlinebookshop.com hướng tới là trở thành website mua sách & DVD/CD trực tuyến số 1 tại Việt Nam. Tiện lợi, nhanh chóng & tin cậy trong thị trường thương mại điện tử với đa dạng chủng loại về sách & dịch vụ được đảm bảo.
        Khi mua hàng trên onlinebookshop.com, khách hàng sẽ được hưởng các tiện ích sau:
    </p>
    <p>
        &nbsp;&nbsp;- Dịch vụ chăm sóc khách hàng đáo trước & sau khi mua hàng.
    </p>
    <p>
        &nbsp;&nbsp;- Giao hàng nhanh chóng & chu đáo:
    </p>
    <p>
        &nbsp;&nbsp;+ Trong vòng 24h đối với đơn hàng tại Tp Hà Nội (nội thành) & các tỉnh lân cận.
    </p>
    <p>
        &nbsp;&nbsp;+ Trong vòng 48h – 120h đối với đơn hàng tại các tỉnh/ thành phố khác.
    </p>
    <p>
        &nbsp;&nbsp;+ Khách hàng kiểm tra được trạng thái vận chuyển của đơn hàng (biết được đơn hàng đã được vận chuyển đến địa điểm nào/ tỉnh nào….)
    </p>
    <p>
        &nbsp;&nbsp;+ Uy tín trong giao dịch: website onlinebookshop.com được sự đảm bảo của Công ty cổ phẩn văn hoá Phương Nam & được đăng ký tại Bộ Công Thương Việt Nam.
    </p>
   </div>
    <div class="agile_about_grids">
        <div class="col-md-6 agile_about_grid_right">
            <img src="/Assets/Client/images/About.jpg" alt="" class="img-responsive" />
        </div>
        <div class="col-md-6 agile_about_grid_left">
            <ol>
                <li>Sách Văn Học</li>
                <li>Sách Giáo Dục</li>
                <li>Sách Khoa Học Tự Nhiên</li>
                <li>Sách Khoa Học Kĩ Thuật</li>
                <li>Sách Thiếu Nhi</li>
                <li>Sách Y Tế</li>
                <li>Sách Tiếng Việt</li>
                <li>Sách Tiếng Anh</li>
            </ol>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>